<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSetting>
		<add key="scoreExtension" value="5"/>
		<add key="scoreInicial" value="5"/>
		<add key="mail" value="biblioflash@outlook.es"/>
		<add key="password" value="Biblioflash"/>
		<add key="buenEstado" value="5"/>
		<add key="malEstado" value="10"/>
		<add key="porDia" value="2"/>
	</appSetting>
</configuration>